<div class="card card-header result-block">
  <strong>Search:</strong> <%= @to_search %>
</div>

<h3>Results in Users</h3>
<% if !@friends.empty? %>
  <%= render 'users/friend_result' %>
<% else %>
  <p>No match in Users</p>
<% end %>

<h3>Results in tracked Stocks</h3>
<% if !@stocks.empty? %>
  <%= render 'stocks' %>
<% else %>
  <p>No match in tracked Stocks</p>
<% end %>

<div class="container">
  <div class="row">
    <%= link_to "Back", :back, class: "btn btn-outline-primary" %>
  </div>
</div>
