@import 'bootstrap/dist/css/bootstrap';

/*
.navbar-brand {
  font-size: 3rem;
}
*/

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 1px !important;
}

.no-left-padding {
  padding-left: 2px !important;
}

.result-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.logout-button {
  margin-right: 7px;
}
